
<br>
<br>
<div class="container mt-4">
  <h3 class="mt-5 border-bottom pb-3"> Pending booking requests</h3>
    <% current_user.offers.each do |offer| %>
      <% offer.bookings.each do |booking| %>
        <% if booking.status == "pending" %>
        <% then %>
          <div class="card-booking mt-3">
            <%= offer.picture_seed ? image_tag(offer.picture_seed.split(",").first) : cl_image_tag(offer.picture_url.first.key) %>
            <div class="card-booking-infos">
              <h2><%=booking.offer.title%></h2>
              <p>du <%=booking.start_date%> au <%=booking.end_date%></p>
            </div>
            <div class="btn-confirm">
              <h5><%= link_to "Accept", offer_booking_path(offer, booking, booking: { status: "confirmed" }), data:{turbo_method: :patch}, class:"text-decoration-none btn btn-primary btn-sm", id:"btn-reviews" %></h5>
            </div>
            <div class="btn-decline">
              <h5><%= link_to "Decline", offer_booking_path(offer, booking, booking: { status: "declined" }), data:{turbo_method: :patch}, class:"text-decoration-none btn btn-success btn-sm" %></h5>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>


  <div class="d-flex justify-content-between align-items-end  pb-3 border-bottom">
      <h3 class="mt-5"> My offers - (<%=@my_offers.count%>)</h3>
      <%= link_to "Create an offer", new_offer_path, class:"btn btn-primary"%>
  </div>
  <div class="card-container mt-5">
    <% @my_offers.each do |offer| %>
      <div class="card-scroll">
        <div class="card-offer effet mb-5">
          <%= offer.picture_seed ? image_tag(offer.picture_seed.split(",").first) : cl_image_tag(offer.picture_url.first.key) %>
          <div class="card-offer-infos">
            <h2><%= link_to offer.title, offer_path(offer)  %></h2>
            <h3><%= offer.location %></h3>
            <h4 class="card-offer-pricing"><%= offer.price %> € / day</h4>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container my-5">
  <h3 class="mt-5 pb-3 border-bottom">My bookings - (<%=@bookings.count%>) </h3>
  <div class="card-container mt-5">

      <% @bookings.each do |booking| %>
        <div class="card-scroll">
          <div class="card-offer effet">
            <%= booking.offer.picture_seed ? image_tag(booking.offer.picture_seed.split(",").first) : cl_image_tag(booking.offer.picture_url.first.key) %>
            <div class="card-offer-infos">
              <h2><%= booking.offer.title %></h2>
              <h3><%= booking.offer.location %></h3>
              <% length = (booking.end_date - booking.start_date).to_i %>
              <% total = length * booking.offer.price %>
                  <div><%= total %> €</div>
                   <% if booking.status == "pending" %>
              <% then %>
                <div class="btn-status btn-pending">
                  <h5>Pending confirmation</h5>
                </div>
              <% elsif booking.status == "confirmed" %>
                <div class="btn-status btn-confirmed">
                  <h5>Booking confirmed</h5>
                </div>
                <%= link_to "Give a review", new_booking_review_path(booking), class:"btn btn-sm btn-review", id: "btn-review"%>
              <% else %>
                <div class="btn-status btn-declined">
                  <h5>Booking declined</h5>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
