
<h3 class="mt-5 border-bottom"> My offers - (<%=@my_offers.count%>)</h3>
<div class="cards mt-5">
  <% @my_offers.each do |offer| %>
    <div class="card-offer mb-5">
      <%= offer.picture_seed ? image_tag(offer.picture_seed.split(",").first) : cl_image_tag(offer.picture_url.first.key) %>
      <div class="card-offer-infos">
        <h2><%= link_to offer.title, offer_path(offer)  %></h2>
        <h3><%= offer.location %></h3>
        <h4 class="card-offer-pricing"><%= offer.price %> € / day</h4>
        <i class="far fa-heart card-heart"></i>
      </div>
    </div>
  <% end %>
</div>
<h3 class="mt-5 border-bottom">My bookings </h3>
<div class="cards my-5">
  <% @bookings.each do |booking| %>
    <div class="card-offer">
      <%= image_tag (booking.offer.picture_url.split(",").first) %>
      <div class="card-offer-infos">
        <h2><%= booking.offer.title %></h2>
        <h3><%= booking.offer.location %></h3>
        <% length = (booking.end_date - booking.start_date).to_i %>
        <% total = length * booking.offer.price %>
        <div><%= total %> €</div>
        <i class="far fa-heart card-heart"></i>
      </div>
    </div>
  <% end %>
</div>
