<div class="container mt-5 pt-5 pb-5">
  <div class="icon-nav mt-4 mb-5 d-flex justify-content-between">
    <div class="d-flex align-items-start flex-column link">
        <%= link_to offers_path(sport_category: "snowboard"), class:"text-decoration-none text-center link active" do %>
          <i class="fa-solid fa-person-snowboarding mb-2"></i>
          <p>Snowboard</p>
        <% end %>
    </div>
    <div class="d-flex align-items-start flex-column">
        <%= link_to offers_path(sport_category: "voile"), class:"text-decoration-none text-center link" do %>
          <i class="fa-sharp fa-solid fa-sailboat mb-2"></i>
          <p>Voile</p>
        <% end %>
    </div>
    <div class="d-flex align-items-start flex-column">
        <%= link_to offers_path(sport_category: "paddle"), class:"text-decoration-none text-center link" do %>
          <i class="lni lni-surf-board mb-2"></i>
          <p>Paddle</p>
        <% end %>
    </div>
    <div class="d-flex align-items-start flex-column">
        <%= link_to offers_path(sport_category: "kite"), class:"text-decoration-none text-center link" do %>
          <span class="material-symbols-outlined">
            kitesurfing
          </span>
          <p>Kitesurf</p>
        <% end %>
    </div>
    <div class="d-flex align-items-start flex-column">
        <%= link_to offers_path(sport_category: "Vélo"), class:"text-decoration-none text-center link" do %>
          <i class="fa-sharp fa-solid fa-bicycle mb-2"></i>
          <p>Vélo</p>
        <% end %>
    </div>
    <div class="d-flex align-items-start flex-column">
        <%= link_to offers_path(sport_category: "skate"), class:"text-decoration-none text-center link" do %>
          <span class="material-symbols-outlined">
            skateboarding
          </span>
          <p>Skateboard</p>
        <% end %>
    </div>
    <div class="d-flex align-items-start flex-column">
        <%= link_to offers_path(sport_category: "ski"), class:"text-decoration-none text-center link" do %>
          <i class="fa-solid fa-person-skiing mb-2"></i>
          <p>Ski</p>
        <% end %>
    </div>
    <div class="d-flex align-items-start flex-column">
        <%= link_to offers_path(sport_category: "roller"), class:"text-decoration-none text-center link" do %>
          <span class="material-symbols-outlined">
            roller_skating
          </span>
          <p>Roller</p>
        <% end %>
    </div>
    <div class="d-flex align-items-start flex-column">
        <%= link_to offers_path(sport_category: "tennis"), class:"text-decoration-none text-center link" do %>
          <span class="material-symbols-outlined">
            sports_tennis
          </span>
          <p>Tennis</p>
        <% end %>
    </div>
    <div class="d-flex align-items-start flex-column">
        <%= link_to offers_path(sport_category: "planche de surf"), class:"text-decoration-none text-center link" do %>
          <span class="material-symbols-outlined">
            surfing
          </span>
          <p>Surf</p>
        <% end %>
    </div>
  </div>
  <div class="cards">
    <% @offers.each do |offer| %>
      <div class="card-offer-with-heart">
        <a href=""><i class="far fa-heart card-heart"></i></a>
        <%= link_to offer_path(offer), class:"text-decoration-none" do %>
          <div class="card-offer">
              <%= offer.picture_seed ? image_tag(offer.picture_seed.split(",").first) : cl_image_tag(offer.picture_url.first.key) %>
              <div class="card-offer-infos">
                <div>
                  <div class="d-flex justify-content-between">
                    <h2><%= offer.title %></h2>
                    <% sum = 0 %>
                      <%offer.reviews.each do |review|%>
                          <% sum += review.rating %>
                        <% end %>
                      <h4><%= (offer.reviews.count == 0) ? "" : (sum.fdiv(offer.reviews.count)).round(1) %>   <span class="fa-solid fa-star text-warning"> </h4>
                  </div>
                  <h3><%= offer.location %></h3>
                  <h4 class="card-offer-pricing"><%= offer.price %> € / day</h4>
                </div>
              </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
