<div class="container">
  <h2><%= @offer.title %>-<%=@offer.location %></h2>
  <div>
  <h3>Sport category</h3>
  <p><%=@offer.sport_category%></p>
  </div>
  <div>
  <h3>Description</h3>
  <p><%=@offer.description%></p>
  </div>

  <div>
    <h3>Ajoutez des dates pour voir le prix</h3>
    <%= simple_form_for [@offer, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Vérifier la disponibilité", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
