navbar
<h2><%= @offer.title - @offer.location %></h2>
<div>
<p><%= "Sport category"%></p>
<p><%=@offer.sport_category%></p>
</div>
<div>
<p><%= "Description"%></p>
<p><%=@offer.description%></p>
</div>
